name: Update EPG Data

workflow_dispatch: # Allows you to run this manually from the Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to push changes back to the repo

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run EPG Grabber
        run: python start.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add epg.xml channels.xml program*.xml
          # Only commit if there are changes to avoid workflow errors
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update EPG data [$(date)]" && git push)
