name: Update Indian EPG
on:
  schedule:
    - cron: '0 1 * * *' # Runs at 6:30 AM IST
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install requests
      - run: python generate_epg.py
      - name: Push to Repo
        run: |
          git config --global user.name "EPG-Bot"
          git config --global user.email "bot@github.com"
          git add epg.xml epg.xml.gz
          git commit -m "Updated EPG: $(date)" || exit 0
          git push
